In [16]:
import pandas as pd
import numpy as np
import plotly.offline as pyo
import plotly.graph_objs as go

In [17]:
#scatterplot

In [21]:
salary = pd.read_csv("Salaries.csv")

C:\Users\mohit\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning:

Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.

In [54]:
salary = salary.head(10)
salary2 = salary.tail(10)

In [55]:
salary

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.0,8601.0,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.0,51322.5,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

In [47]:
#plot scatter plot here
trace = go.Scatter(x = salary["BasePay"],y = salary["OvertimePay"],mode = "markers",text = salary["JobTitle"])
data = [trace]
layout = go.Layout(title="basepay vs overtimepay",
                  xaxis = {"title":"basepay"},
                  yaxis = {"title":"overtime pay"})
figm = go.Figure(data=data,layout=layout)
pyo.plot(figm)

'temp-plot.html'

In [53]:
#plot line chart here
trace = go.Scatter(x = salary["EmployeeName"],y = salary["TotalPay"],mode = "lines")
data = [trace]
layout = go.Layout(title = "EmployeeName vs total pay",
                   xaxis = {"title":"EmployeeName"},
                   yaxis = {"title":"totalpay"})
fign = go.Figure(data =data , layout = layout)
pyo.plot(fign)

'temp-plot.html'

In [58]:
#plot bar graph
trace = go.Bar(x = salary["EmployeeName"],y = salary["TotalPay"])
trace2 =go.Bar(x = salary2["EmployeeName"],y = salary2["TotalPay"])
data = [trace,trace2]
layout = go.Layout(title = "employee and there pay",
                  xaxis = {"title":"emplyeename"},
                  yaxis = {"title" :"pay"},
                  barmode = "stack")
fig = go.Figure(data = data,layout = layout)
pyo.plot(fig)

'temp-plot.html'

In [61]:
#plot bar graph
trace = go.Bar(x = salary["EmployeeName"],y = salary["TotalPay"])
trace2 =go.Bar(x = salary2["EmployeeName"],y = salary2["TotalPay"])
data = [trace,trace2]
layout = go.Layout(title = "employee and there pay",
                  xaxis = {"title":"emplyeename"},
                  yaxis = {"title" :"pay"})
fig = go.Figure(data = data,layout = layout)
pyo.plot(fig)

'temp-plot.html'

In [63]:
#plot bar graph
trace = go.Bar(x = salary["EmployeeName"],y = salary["TotalPay"])
trace2 =go.Bar(x = salary2["EmployeeName"],y = salary2["TotalPay"])
data = [trace,trace2]
layout = go.Layout(title = "employee and there pay",
                  xaxis = {"title":"emplyeename"},
                  yaxis = {"title" :"pay"},
                  barmode = "overlay")
fig = go.Figure(data = data,layout = layout)
pyo.plot(fig)

'temp-plot.html'

In [70]:
#Bubble graph
trace = go.Scatter(x=salary["BasePay"],y=salary["TotalPay"],mode = "markers",marker={"size":salary["Year"]})
data = [trace]
layout = go.Layout(title = "basepay vs totalpay",
                  xaxis = {"title":"basepay"},
                  yaxis = {"title":"totalpay"})
fig = go.Figure(data = data,layout = layout)
pyo.plot(fig)

'temp-plot.html'

In [74]:
#Box plot
trace = go.Box(x = salary["BasePay"],name = "Basepay")
data = [trace]
layout = go.Layout(title = "basepay",
                  xaxis = {"title":"basepay"})
fig = go.Figure(data = data,layout = layout)
pyo.plot(fig)

'temp-plot.html'

In [ ]:
# distplots
import plotly.figure_factory as ff



hist_data = [salary2["OvertimePay"]]
group_labels = ["BasePay"]
fig=ff.create_distplot(hist_data,group_labels)

pyo.plot(fign)

In [88]:
#histogram
trace = go.Histogram(x=salary["BasePay"])
data = [trace]
layout = go.Layout(title = "basepay",
                  xaxis = {"title":"basepay"})
fig = go.Figure(data = data,layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [90]:
#heatmap
trace = go.Heatmap(x = salary["EmployeeName"],y = salary["BasePay"],z = salary["TotalPay"])
data = [trace]
layout = go.Layout(title = "heatmap",
                  xaxis = {"title":"employee name"},
                  yaxis = {"title":"basepay"})
fig = go.Figure(data = data,layout=layout)
pyo.plot(fig)

'temp-plot.html'